# LangChain Core
langchain
langchain-core
langchain_community
langchain_experimental
langchain-chroma

# OpenAI Integration
langchain-openai
openai
tiktoken


# Groq Integration
langchain_groq

# Anthropic Integration
langchain-anthropic

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn
sentence-transformers 
torch
pydantic
pypdf
unstructured
chromadb
faiss-cpu 
wikipedia
youtube-transcript-api

#UI
streamlit
grandalf

#Tools
duckduckgo-search 
ddgs
